body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
header a {
   color: aquamarine;
   font-size: 16px; 
}

video {
    padding: 30px;
}

p {
    color: gray;
}

footer {
    padding: 30px;
}
footer a {
    color: aquamarine;
   font-size: 16px;  
}
footer p {
    text-align: right;
}